<link rel="stylesheet" href="/css/footerstyle.css">
<footer>
    <div class="footer-container">
        <div class="footer-left">
            <span class="footer-question">Question?</span>
            <span class="footer-tel">053-920299</span>
        </div>
        <div class="footer-divider">|</div>
        <div class="footer-line mb-only"></div>
        <div class="footer-right">
            <span><a href="/WebStore/contact">Contact Us</a></span>
            <span class="arrow mb-only">></span>
        </div>
    </div>
    <div class="footer-line"></div>
    <div class="footer-copyright">
        <p>© Copyright, ALL RIGHT RESERVED.</p>
    </div>
</footer>
