<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="image/logo.jpg" alt="" class="logo-image"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">My Category</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">My Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Sales History</a>
                </li>

                <div class="nav-divider"></div>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <!-- Profile img -->
                        <img src="/image/profile.jpg" alt="Profile Image" class="profile-image">
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>