<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/back-office/login_signUp.css">

    <style>
        p:nth-of-type(1) {
            font-size: 4vw;
            font-weight: 1000;
            margin: 8vw 0 8vw 0;
        }

        .btn {
            margin: 3.5vw 0 9vw 0;
        }

        @media (min-width: 768px) {
            p:nth-of-type(1) {
                font-size: 2.5vw;
                font-weight: 1000;
                margin: 3vw 0 3vw 0;
            }

            input {
                margin-bottom: 2vw;
                width: 22vw;
                height: 2vw;
                font-size: 1.5vw;
            }

            .btn {
                margin: 1.5vw 0 5vw 0;
                font-size: 1.5vw;
                padding: 0.3vw 2vw;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="circle">
            <img src="/image/logo.png" alt="logo_img">
        </div>
        <p><%= text %></p>
        <% forms.forEach((form) => { %>
            <div>
                <input type="text" placeholder="   <%= form.topic %>" name="<%= form.name %>">
            </div>
        <% }); %>
        <a href="myCategory" class="btn"><%= button%></a>
        <p>Don't have an account?<a href="signUp"> Sign Up</a></p>
    </div>
</body>
</html>