<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/back-office/login_signUp.css">
</head>
<body>
    <div class="container">
        <div class="circle">
            <img src="/image/logo.png" alt="logo_img">
        </div>
        <p><%= text %></p>
        <% forms.forEach((form) => { %>
            <div>
                <label for=""><%= form.topic%></label><br>
                <input type="text">
            </div>
        <% }); %>
        <a href="login" class="btn"><%= button%></a>
        <p>Already have an account?<a href="login"> Log in</a></p>
    </div>
</body>
</html>