body {
    background-color: #F5F5DC;
}

.container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    @media only screen and (max-width: 600px) {
        width: 80%;
    }
}

.detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoimg img {
    width: 200px;
    height: auto;
    margin-top: 70px;
}

.loginTitle {
    margin-top: 10px;
    font-family: "Catamaran", sans-serif;
    align-items: center;
    font-weight: 800;
}

.loginForm {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #565656;
}

.loginForm input {
    display: flex;
    align-items: center;
    width: 150%;
    margin: 10px;
    padding: 8px;
    text-align: center;
    border-radius: 15px;
    border: 2px solid #565656;
    @media only screen and (max-width: 600px) {
        width: 100%;
    }
}

.loginForm button {
    width: 150px;
    height: 50px;
    font-size: 20px;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #BD4B4B;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 40px;
}

.loginForm button:hover {
    background-color: #9c3939;
}

.signupText {
    margin-top: 30px;
    font-size: 18px;
    color: #909090;
}

.signupText a {
    font-weight: bold;
    color: #868686;
    text-decoration: none;
}

.signupText a:hover {
    text-decoration: underline; /* Add underline on hover */
}

.backofficeText {
    margin-bottom: 80px;
    font-size: 18px;
    color: #909090;
}

.backofficeText a {
    font-weight: bold;
    color: #868686;
    text-decoration: none;
}

.backofficeText a:hover {
    text-decoration: underline; /* Add underline on hover */
}