<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <%- include('../partials/header_front'); %>
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Catamaran:wght@100..900&display=swap" rel="stylesheet">
    
<style>

body {
    background-color: #F5F5DC;
    font-family: "Catamaran", sans-serif;
}
.container-home {
  margin: 0 30px;
  @media screen and (max-width: 600px) {
    margin: 0;
  }
}

/* highlight section */
.carousel-indicators {
  list-style: none; 
  padding: 0; 
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* new arrivals section */
.new-arrival-text h3{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  @media screen and (max-width: 600px){
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
  }
}

.new-arrival-text h3::before,
.new-arrival-text h3::after {
  content: '';
  height: 1px;
  background-color: rgb(154, 153, 153);
  flex: 0.25;
  margin: 0 10px;  
}

.new-arrival .new-arrival-box-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(10rem, 1fr));
  gap: 30px;
  @media screen and (max-width: 600px){
    grid-template-columns: repeat(1, minmax(10rem, 1fr));
  }
}

/* products section */
.contain {
  margin: 30px;
}

.product-contain {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  @media screen and (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.product-box-wrapper {
  display: flex;
  justify-content: center; 
  align-items: center; 
}



@media screen and (max-width: 600px) {

  .new-arrival h3::before {
    content: '';
    height: 1px;
    background-color: rgb(154, 153, 153);
    flex: 1;
    margin: 0 10px 0 0;
  }

  .new-arrival h3::after {
    content: '';
    height: 1px;
    background-color: rgb(154, 153, 153);
    flex: 1;
    margin: 0 0 0 10px;
  }

  /* .new-arrival .new-arrival-box-container {
    grid-template-columns: minmax(10rem, 1fr); 
  }
  .new-arrival .new-arrival-box-container > div:nth-child(2) {
    display: none;
  } */
}

</style>

</head>
<body>
<%- include('../partials/navbar_front'); %>

<div class="container-home">

<!-- highlight section starts -->
    <section class="highlight" id="highlight">

      <div id="carouselExampleFade" class="carousel slide carousel-fade" >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="/hl1.html"><img src="/image/home_higlight/image_highlight1.jpg" class="d-block w-100" alt="reebok" height="450px"></a>
          </div>
          <div class="carousel-item">
            <a href="/hl2.html"><img src="/image/home_higlight/image_highlight2.jpg" class="d-block w-100" alt="columbia" height="450px"></a>
          </div>
          <div class="carousel-item">
            <a href="/hl3.html"><img src="/image/home_higlight/image_highlight3.jpg" class="d-block w-100" alt="skechers" height="450px"></a>
          </div>
          <div class="carousel-item">
            <a href="/hl4.html"><img src="/image/home_higlight/image_highlight4.jpg" class="d-block w-100" alt="cross" height="450px"></a>
          </div>
          <div class="carousel-item">
            <a href="/hl5.html"><img src="/image/home_higlight/image_highlight5.jpg" class="d-block w-100" alt="merrell" height="450px"></a>
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-bs-target="#carouselExampleFade" data-bs-slide-to="0" class="active"></li>
          <li data-bs-target="#carouselExampleFade" data-bs-slide-to="1"></li>
          <li data-bs-target="#carouselExampleFade" data-bs-slide-to="2"></li>
          <li data-bs-target="#carouselExampleFade" data-bs-slide-to="3"></li>
          <li data-bs-target="#carouselExampleFade" data-bs-slide-to="4"></li>
        </ol>
      </div>

    </section>
<!-- highlight section ends -->

<!-- new arrivals section starts -->
<section class="new-arrival" id="new-arrival">

  <div class="new-arrival-text">
    <h3>NEW ARRIVAL</h3>
  </div>

  <div class="new-arrival-box-container">

    <div class="new-arrival-box">
      <a href=" /st.html "><img src="/image/home_newArrival/image1.jpg" style="width: 100%; height: 100%;"></a>
    </div>
      
    <div class="new-arrival-box">
      <a href=" /st1.html"><img src="/image/home_newArrival/image2.jpg" style="width: 100%; height: 100%;"></a>
    </div>

  </div>
 </section>
<!-- new arrivals section starts -->

<!-- products section starts -->
<section class="products" id="products">


    <div class="contain">
      <div class="product-contain">
        <%- include('../partials/productBoxCard'); %>
      </div>
    </div>


</section>
<!-- products section ends -->

</div>


<%- include('../partials/footer_front'); %>
      
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="/controllers/productDetails.js"></script>
</body>
</html>

