#popupCreateForm, #popupDeleteForm, #popupEditForm {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding:  10px 30px 30px 30px;
    border: 2px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
    width: max-content;
    height: min-content;
}

#popupCreateForm.active, #popupEditForm.active {
    display: flex;
    flex-direction: column;
}

#popupDeleteForm.active {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center contents vertically */
    justify-content: center; /* Center contents horizontally */
}

/* Close button style */
.close {
    width: 2vw;
    height: auto;
    position: absolute;
    right: 10px;
    top: 10px;
}

#popupCreateForm h3, #popupEditForm h3 {
    font-size: 2vw;
    font-weight: 800;
    margin-top: 2.6vw;
    margin-bottom: 1.3vw;
}

#popupDeleteForm #deletedProduct-img {
    width: 13vw;
    height: auto;
    
}

#popupDeleteForm h3 {
    font-size: 1.7vw;
    font-weight: 800;
    margin-bottom: 1.8vw;
    text-align: center;
    color: #D90000;
}

#popupDeleteForm h3:first-of-type {
    margin: 2.6vw 0 0.5vw 0;
}

#popupDeleteForm > label:last-of-type {
    margin-bottom: 1.8vw;
}

#popupDeleteForm label {
    border: none;
    font-size: 1.3vw;
    font-weight: 700;
    color: black;
    padding: 0;
    margin: 0;
}

/* Input style */
input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-deleteSubBtn {
    align-self: flex-end;
}

.cancel-deleteBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Button style */
#cancelBtn-deleteProd, #createBtn-product, 
#cancelBtn-createCate, #createBtn-category,
#cancelBtn-deleteCate, #deleteBtn-category, 
#cancelBtn-createProd, #deleteBtn-product,
#cancelBtn-editProd, #editBtn-product {
    font-size: 1.2vw;
    font-weight: 700;
    padding: 0.3vw 2vw;
    margin-top: 1.3vw;
    cursor: pointer;
    border: none;
    background-color: #827575;
    color: #fff;
    border-radius: 50px;
    margin-right: 0.5vw;
}

#createBtn-product, #createBtn-category, #editBtn-product {
    background-color: black;
    margin-left: 0.5vw;
    margin-right: 0;
}

#deleteBtn-category, #deleteBtn-product {
    background-color: #D90000;
    margin-left: 0.5vw;
    margin-right: 0;
}

#cancelBtn-deleteCate, #deleteBtn-category,
#cancelBtn-deleteProd, #deleteBtn-product,
#cancelBtn-editProd, #editBtn-product {
    margin-top: 1vw;
    width: 8vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

/* Add button style */
.add-sub, .remove-sub {
    display: inline-block;
    cursor: pointer;
    margin-left: 5px;
    font-size: 1vw;
    font-weight: bold;
    color: #827575;
    border: #827575 solid 1px;
    border-radius: 0.5vw;
    padding: 0.3vw 0.8vw 0.3vw 0.8vw;
}

/* Close button style */
.close {
    float: right;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}

/* Overlay style */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(78, 78, 78, 0.248); /* Semi-transparent black */
    z-index: 900; /* Ensure it appears behind the pop-up */
    display: none;
}

/* Show the overlay when the pop-up is active */
.popup-product.active + .overlay {
    display: flex;
}

/*      PRODUCT      */
.popup-product input {
    margin-top: 5px;
    height: 2.2vw;
}

.popup-product input#description {
    height: 3.5vw;
}

.popup-product p {
    margin: 0;
}

.popup-product h3 {
    text-align: center;
}

input[type="file"] {
    display: none;
}

label {
    display: inline-block;
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #1E6BFF;
    margin-bottom: 5px;
    margin-right: 0.7vw;
    width: 100%;
    font-size: 1vw;
    text-align: center;
}

input[type="file"] + label:hover {
    cursor: pointer;
}

p.img-file {
    margin-bottom: 10px;
    text-align: right;
    color: #827575;
    margin: 5px;
}